.profileBody {
    color:white;
    font-family: 'Courier' monospace;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 10vh;
  
}
.forListGroups label{
    color: white !important;
}

.infoPanel ul{
    list-style-type: none !important;
}
.infoPanel {
    position: absolute;
    height: 80vh;
    border-radius: 10%;
    float:left;  
    background-color: #1D1F2F;
   padding-top: 5vh;
   width: 26vw;
   align-items: center;
   text-align: center;
   padding-right: 3.5vw;
}

.grav img {
  border-radius: 50%;
  border: white solid 2px;
}

.ZagolovokProfile {
    margin-left: 1vmin;
    clear: both;
    position: relative;
    background-color: transparent;
    margin-left: 12vw;
    font-size: 3.5vh;
}
.GroupsListTable  {
    float: right;
    padding-right: 47vw;
}

.footer-profile {
    clear:both;
    margin-top: 47vh;
    position: relative;
}

.ButGroup {
    background-color: transparent;
    color: white;
    font-family: 'Courier' monospace;
    letter-spacing: 6px;
    text-transform: uppercase;
    border: solid 2px white;
    margin-top: 1vh;
    transition-duration: 0.4s; 
    padding-left: 0.9vw;
    width: fit-content;
    height: fit-content;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.ButGroup:hover {
    background-color: white;
    color: var(--color-secondary);
    border: solid 2px white;
   
}

.ZagTable {
    border-bottom: white solid 2px;
    margin-bottom: 2vh;
}
.ZagTable p {
    display: inline-flex;
}
.index {
    border-left: white solid 2px;
    padding-left: 2vw;
}
.input-group input{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 15vw;
}
.group-content {
    border: solid white 2px;
    width: 20vw;
    height: fit-content;
    padding-left: 2.5vw;
    padding-top: 3vh;
    padding-bottom: 4vh;
    margin-top: 2vh;
    padding-right: 2.5vw;
}