@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|IBM+Plex+Sans:500&display=swap');

:root {
  --color-primary: #6B7A8F;
  --color-secondary: #101118;
  --color-accent: #1D1F2F;
  --color-focus: #6D64F7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
}

.footage {
 background-repeat: no-repeat;
 background-size: cover;
 height: 1030px;
 width: 100vw;
 background-image: url(../../images/space.jpg);
 z-index: -1;
 //  margin-top: 1vmin; это черная линия наверху :)))))))))
 top: 0;
}
.backDiv1 {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(180deg, #ffffff00, #101118);
  animation: paragraph 1.5s linear 1 forwards;
  top: 0%;
  position: relative;
  z-index: 1;
}

.imageLogo {
  display: inline-block;
  background-image: url(../../images/3.png);
  border: #fff solid 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.head {
  animation: paragraph 1.5s linear 1 forwards;
  font-family: 'Courier' monospace !important;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding-left: 9vmin;
  color: rgba($color: #fff, $alpha: 1.0);
 }
 .commonFooter {
   display: flex;
   flex-direction: row;
 }
 .commonFooter a {
   text-decoration: underline;
 }

 .footerClass {
   color: #fff;
   font-family: 'Courier' monospace !important;
   letter-spacing: 6px;
   text-transform: uppercase;
   padding-top: 9.5vmin;
   margin-top: 5vh;
   height: fit-content;
   position: relative;
   z-index: 2;
 }

 .backDiv2 {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(180deg, #ffffff00, #000);
  position: relative;
  z-index:1 ;
} 

.Rights {
   padding-left: 0.4vw;
   padding-top: 7.4vh;

 }

 .contacts a {
   color:#fff
 }

 .contacts li {
   list-style-type: none;
   padding-top: 1vh;
 }

 .contacts li:hover {
  animation: paragraph 0.3s linear 1 forwards;
}
.Discr {
  padding-left: 2vw;
}

 .contacts ul {
   padding-left: 68vw;
 }
 .contacts h3 {
   padding-left: 68vw;
 }

 .Discr p {
   font-size: 1.4vh;
 }

 .headProject {
   font-size: 9vmin;
   border-bottom: #fff 2px solid;
   width: fit-content;
   margin: 0;
   padding-top: 12vmin; // вот эту парашу менять
 }
 
 .Zagolovok {
   color: #fff;
   font-family: 'Courier' monospace !important;
   letter-spacing: 6px;
   text-transform: uppercase;
   margin-bottom: 3vw;
   position: absolute;
   margin-top: 16px;
   margin-left: 1.5vw;
   font-size: 2vmin;
 }
 .headerClass {
   display:inline-block;
 }

 .fonn {
   background-image: url(../../images/cgsg-flex-logo.png);
   z-index:7;
   height: 100px;
   width: 139px;
 }

 .headLogo {
   background-image: url(../../images/grad.png);
   position: fixed;
   top: 0;
   width: 100%;
   padding-top: 2vmin;
   padding-left: 2vmin;
   height: 102px;
   animation: paragraph 1.5s linear 1 forwards;
   z-index:4;
 }

 .loginForm {
  float: right;
  margin-right: 4vmin;
   margin-top: 14px;
   font-family: 'Courier' monospace !important;
   letter-spacing: 6px;
   text-transform: uppercase;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    text-align: center;
    font-size: 1.6vmin;
    padding-left: 0.8vw;
    
 }

 .loginForm:hover {
   background-color: white;
   border: transparent solid 2px;
   color: black;
   transition-duration: 0.6s;
}

.logged {
  float: right;
  margin-right: 4vmin;
  //position: absolute;
  margin-top: 9px;
  font-family: 'Courier' monospace !important;
  letter-spacing: 6px;
  text-transform: uppercase;
   background-color: transparent;
   border: white solid 2px;
   color: white;
   text-align: center;
   font-size: 1.3vmin;
  height: 4vh;
   padding-left: 0.8vw;
}
.logged p {
  margin-top: 1vh;
}

.logged:hover {
  background-color: white;
  border: transparent solid 2px;
  color: black;
  transition-duration: 0.6s;
}

@keyframes paragraph {
  0% {
      opacity: 0;
  }

100% {
  opacity: 1;
}
}

body {
  background-color: var(--color-secondary);
}

#app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, p {
  font-family: 'Courier' monospace !important;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.visuallyhidden { 
  clip: rect(1px, 1px, 1px, 1px);  
  height: 1px; 
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}


// =========================
// Icons
// =========================

.icon {
  fill: var(--color-primary);
  width: 100%;
}


// =========================
// Buttons
// =========================

.btn {
  //background-color: var(--color-primary);
  border: none;
  border-radius: 0.125rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
  
  &:focus {
    outline-color: var(--color-focus);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }
  
  &:active {
    transform: translateY(1px);
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%;
  z-index: 4;
  
  .btn {
    --size: 3rem;
    
    align-items: center;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 100%;
    display: flex;
    height: var(--size);
    padding: 0;
    width: var(--size);
    
    &:focus {
      border-color: var(--color-focus);
      outline: none;
    }
        
    &--previous > * {
      transform: rotate(180deg);
    }
  }
}


.slider {
  --slide-size: 70vmin;
  --slide-width: 85vmin;
  --slide-margin: 4vmin;
  
  height: var(--slide-size);
  margin: 0 auto;
  position: relative;
  width: var(--slide-width);
}

.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
}
.slider-animation {
  animation: wipe-enter 2s 1
}
@keyframes wipe-enter {
  0% {
    transform: scale(0, .025)
  }
  50% {
    transform: scale(1, .025)
  }
}

.slide {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  position: relative;
  text-align: center;
  transition: 
    opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-width);
  z-index: 1;
  
  &--previous,
  &--next {    
    &:hover {
      opacity: 0.5;
    }
  }
  
  &--previous {
    cursor: w-resize;
    
    &:hover {
      transform: translateX(2%);
    }
  }
  
  &--next {
    cursor: e-resize;
    
    &:hover {
      transform: translateX(-2%);
    }
  }
}

.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;
  
  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform: 
        scale(1.025)
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        );
    }    
  }
}

.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;  
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
}

.slide__image {
  --d: 20;
  
  height: 110%;
  left: -5%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5%;
  transition:
    opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);
  user-select: none;
  width: 110%;
  
  @media (hover: hover) {
    .slide--current & {      
      transform: 
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        ); 
    }
  }
}

.slide__headline {
  font-size: 7vmin;
  font-weight: 10;
  position: relative;
}

.slide__content {
  --d: 60;
  
  opacity: 0;
  padding: 4vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden;
  
  .slide--current & {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;
    
    @media (hover: hover) {
      transform: 
        translate(
          calc(var(--x) / var(--d) * -1px),
          calc(var(--y) / var(--d) * -1px)
        );
    }
  }
  
  > * + * {
    margin-top: 2rem;
  }
}


// =========================
// Animations
// =========================

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}

// =========================
// HEADER
// =========================

